.DS_Store
/.build
/.derivedDataIos
/.derivedDataXcodeIos
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
XcodeIosHost/Pods/
